<%= link_to "/lists/#{@dish.id}/create",
            method: :post,
            class: 'list',
            remote: true do %>
  <% if current_user == @dish.user %>
    <div class="list-btn-list"><i class="fas fa-list-alt"></i> 作る予定リストに追加する</div>
  <% else %>
    <div class="list-btn-list"><i class="fas fa-utensils"></i> 食べたいリクエストを送る</div>
  <% end %>
<% end %>